pip>=24.0
setuptools>=75.0.0
wheel
numpy>=1.26.0
pandas==2.2.3
streamlit==1.25.0
torch==2.2.0
transformers==4.26.1
seaborn==0.13.2
matplotlib==3.10.1
plotly==6.0.0
wordcloud==1.9.4
python-dateutil>=2.8.2
pytz>=2020.1
tzdata>=2022.7
altair<6,>=4.0
blinker<2,>=1.0.0
cachetools<6,>=4.0
click<9,>=7.0
packaging<24,>=16.8
pillow==9.5.0
protobuf<5,>=3.20
pyarrow>=6.0
pympler<2,>=0.9
requests<3,>=2.18
rich<14,>=10.14.0
tenacity<9,>=8.1.0
toml<2,>=0.10.1
typing-extensions<5,>=4.1.0
tzlocal<5,>=1.1
validators<1,>=0.2
gitpython!=3.1.19,<4,>=3.0.7
pydeck<1,>=0.8
tornado<7,>=6.0.3
watchdog>=2.1.5
filelock
sympy
networkx
jinja2
fsspec
huggingface-hub<1.0,>=0.11.0
pyyaml>=5.1
regex!=2019.12.17
tqdm>=4.27
tokenizers==0.12.1
