pip>=24.0
setuptools>=75.0.0
streamlit==1.25.0
pillow==9.5.0
torch==2.2.0
transformers==4.31.0
tokenizers==0.11.6
seaborn==0.13.2
matplotlib==3.10.1
plotly==6.0.0
wordcloud==1.9.4
pandas==2.2.3
numpy>=1.26.0
altair<6,>=4.0
requests<3,>=2.18
protobuf<5,>=3.20
pyyaml>=5.1
regex!=2019.12.17
tqdm>=4.27
